
#form {
    max-width: 700px;
    margin: auto;
    width: 50%;
    padding-top: 100px;
}

.form-field {
    display: flex;
    margin: 0 0 1rem 0;
}

label,
input {
    width: 70%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
}

label {
    text-align: right;
    width: 30%;
}

input {
    border: 2px solid #aaa;
    border-radius: 2px;
}

#submit-signup {
    color: #00d1b2;
}

#submit-signup:hover {
    background-color: #00d1b2;
    color: #ffffff;
    cursor: pointer;
}


/**/

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 5px 10px 8px #888888;
}

table caption {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

table thead tr,
table tfoot tr {
    font-size: large;
    font-weight: bold;
    background-color: #00d1b2;
    color: white;
}

table tr td {
    padding: 10px;
    border: 2px solid #ededed;
}

table tbody tr:nth-child(even) {
    background-color: #EEEEEE;
}

table tbody tr:nth-child(odd) {
    background-color: #BDBDBD;
}

table tbody tr:hover {
    background-color: rgba(0, 209, 178, 0.5);
}

.arrows {
    height: 15px;
}

#pagination {
    font-size: 20px;
    float: right;
    display: inline;
}

tfoot>tr>td>span {
    font-size: 15px;
    font-weight: 500;
}

#totalRecord {
    margin-left: 27%;
    margin-right: 27%;
}